.navbar {
    // padding-top: 2.2rem;
    // padding-bottom: 2.2rem;
    height: 110px;

    .navbar-brand {
        position: absolute;
    }

    .navbar-nav {
        font-weight: $title-custom-weight;
        text-transform: uppercase;
    }

    .navbar-collapse {
        justify-content: center;
    }
}

.cartContainer {
    position: absolute;
    right: 50px;
    .cart {
        width: 25px;
        height: 25px;
        color: $secondary-custom-color;
    }
}