* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", cursive;
}

/*-----COLORS----*/
$primary-color: #131313;
$secondary-color: #ffffff;
// Others colors

/*-----END COLORS----*/


.navbar{
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
}
