.navbar {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;

    .navbar-brand {
        position: absolute;
    }

    .navbar-nav {
        font-weight: $title-custom-weight;
        text-transform: uppercase;
    }

    .navbar-collapse {
        justify-content: center;
    }
}

.cartContainer {
    position: absolute;
    right: 50px;

    .cart {
        width: 25px;
        height: 25px;
        color: $secondary-custom-color;
    }
}

.homeBanner {
    width: 100%;
    h2 {
        text-align: center;
    }
}

.itemContainer {
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px $shadow-item-color;
    background-color: $secondary-custom-color;
    width: 220px;
    height: 380px;

    .bodyItem {
        height: 60%;

        .imgItem {
            margin: 0% 10% 0% 10%;
            width: 80%;
            height: 80%;
        }
    }

    .footerItem {
        height: 40%;
        border-top: 1px solid $border-custom-color;
        display: flex;
        flex-direction: column;
        align-items: center;

        .buttonContainer {
            width: 80%;
            box-shadow: 0px 0px 5px 2px $shadow-item-color;
            border-radius: 5px;
            height: 30px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .buttonItem {
                border-radius: 15px;
                border: unset;
                color: #757575;

                .bi {
                    width: 20px;
                    height: 20px;
                    font-size: medium;
                    border: 1px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .buttonItem:disabled {
                color: rgb(209, 209, 209);
            }
        }

        .btn-outline-dark {
            border-color: $border-custom-color;
        }

    }
}

.itemsGeneralContainer {
    display: flex;
    justify-content: center;
}