/*-----COLORS----*/
$primary-custom-color: #131313;
$secondary-custom-color: #ffffff;

$background-custom-color:#f3f3f3;

$shadow-item-color:#00000013;

$border-custom-color: #e7e7e7;
// Others colors

/*-----END COLORS----*/

/*-----FONT WEIGHT----*/
$title-custom-weight: 600;
$subtitle-custom-weight: 500;
/*-----END FONT WEIGHT----*/