
/*-----COLORS----*/
$primary-custom-color: #131313;
$secondary-custom-color: #ffffff;
// Others colors

/*-----END COLORS----*/

/*-----FONT WEIGHT----*/
$title-custom-weight: 600;
$subtitle-custom-weight: 500;
/*-----END FONT WEIGHT----*/